{% extends '::base.html.twig' %}
{% block title %}SisGerCar{% endblock %}
    {% block head %}
    <head>
        <meta charset="utf-8">
        <style type="text/css">
            div#content{
                height: 500px;
            }
            header h1{
                border-bottom: 2px solid #FFA500;
                text-align: center;
                padding-bottom: 20px;
            }
            nav a{
                display: block;
                margin: 10px 20px;
            }
            nav a:link{
                color: #ff0000;
            }
            nav  a:visited{
                color: #1F04aF;
            }
            nav a:hover{
                color: #FFA500;
            }
            nav a:active {
                color: #0000FF;
            }
            footer p{
                border-bottom: 2px solid #FFA500;
            }
        </style>
    </head>    
    {% endblock %}
    {% block body %}
        <div class="page-header">
            <header class="container">
                    <h1 class="color-white">Projeto: Gerenciamento de Carros</h1>
            </header>
        </div>    
        <div class="jumbotron">
            <nav class="container nav">
                <ul class="list-unstyled">
                    <li><span class="label label-default">Projeto Fase 01:</span> <a href="/cars/run/BMW/X3" class="display">Configurando Ambiente</a></li>
                    <li><span class="label label-default">Projeto Fase 02:</span> <a href="{{ path('index_cars') }}">Criando Bundle - Listagem de Automóveis</a></li>
                    <li><span class="label label-default">Projeto Fase 03:</span> <a href="{{ path('doctrine_cars') }}">Criando Entidades - Listagem de Automóveis</a></li>
                    <li><span class="label label-default">Projeto Fase 04:</span> <a href="{{ path('mapping_fabricante_carros') }}">Relacionando Entidades - Listagem de Automóveis por Fabricante | Fabricante por carro</a></li>  
                    <li><span class="label label-default">Projeto Fase 05:</span> <a href="{{ path('fabricantes_lista') }}">Criando Form e Listagem - ( PARTE I | PARTE II )</a></li>
                    <li><span class="label label-default">Projeto Fase 06:</span> <a href="{{ path('fabricantes_lista') }}">Criando Form e Listagem - Adicionando Services</a></li>
                </ul>
                
            </nav>
        </div>
        {% block footer %}
            <footer class="page-header">
               <p></p>
            </footer>
        {% endblock%}
    {% endblock %}

